<FlexboxLayout class="page">
    <StackLayout class="form">
        <GridLayout rows="auto, auto, auto">
            <StackLayout row="0" class="input-field">
                <textField class="input" hint="Email" keyboardType="email" autocorrect="false" 
                    autocapitalize="none"
                    [(ngModel)]= "user.email">
                </textField>
            </StackLayout>

            <StackLayout row="1" class="input-field">
                <textField secure="true" class="input" hint="Password"  autocorrect="false" 
                    autocapitalize="none"
                    [(ngModel)]= "user.contrasenia">
                </textField>
            </StackLayout>


        </GridLayout>
    </StackLayout>
</FlexboxLayout>


<Button text="Ingresar" (tap)="ingresar()" class="btn btn-primary"></Button>
